List Operation

In [ ]:
import numpy as np
l=np.arange(1,11)
print(l)
print(list(map(lambda a: a*a, l)))
print(sum(list(map(lambda a: a*a, l))))

[ 1  2  3  4  5  6  7  8  9 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
385

Tuple Operation

In [ ]:
t=(2,4,6,8,10)
print(np.prod(t))

3840

sets operation

In [ ]:
s1={1,3,5,7,9}
s2={1,3,5,7,9}
print(s1.union(s2))
print(s1.intersection(s2))

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}

Dictionary

In [48]:
text='abcde'
d={char:ord(char) for char in text}
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

functional programming

In [50]:
def s(a):
  return a*a
l=np.arange(1,11)
print(list(map(s,l)))

TypeError: 'numpy.ndarray' object is not callable